# Ignorar carpetas de configuracion de usuario (peligroso de subir)
../../

# Ignorar entornos virtuales y carpetas de Python
venv/
.venv/
__pycache__/
*.pyc

# Ignorar archivos temporales y de logs
*.log

# Ignorar archivos de macOS/Linux
.DS_Store

# Ignorar archivos de Anaconda/Conda
.conda/
.condarc
anaconda3/